<h2> <%= @task_run.task_type %> </h2>

<p><strong>Start time: </strong> <%= @task_run.start_time.strftime('%D %r') %> </p>
<p><strong>End time: </strong> <%= @task_run.end_time.strftime('%D %r') %> </p>
<p><strong>Run time: </strong> <%= @task_run.run_time %> </p>
<p><strong>Success: </strong> <span style="color: <%= @task_run.status_color %>"> <%= @task_run.success %> </span></p>
<p><strong>Error text: </strong> <%= @task_run.error_text %> </p>
<p><strong>Log text: </strong> <%= @task_run.log_text %> </p>
